autopep8==1.5.2
click==7.1.2
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.4
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
Werkzeug==1.0.1
